@import "../../util.scss";

.personal_profile {
  padding: 10px;
}

.header {
  width: 100%;
  height: 15vh;
  padding: 1em;
  border-radius: var(--border-radius);
  background: var(--strong-purple);
  box-shadow: var(--card-standard-shadow);
  @include flexi(space-between, center, row, 1em);
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--secondary-yellow);
    position: absolute;
    top: -5%;
    right: -2%;
  }
  &::before {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--secondary-yellow);
    position: absolute;
    bottom: -10%;
    right: -2%;
  }

  .personal_details {
    @include flexi(space-between, center, row, 1em);
    margin-left: 1em;
  }

  .profile_photo {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius-10);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .personal_info {
    .name {
      color: var(--primary-yellow);
    }
    .city {
      color: var(--secondary-yellow-strong);
    }
  }
}

.personal_contributions {
  color: var(--base-grey);
  text-align: right;
}

.detailed_transactions {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 10px;
  gap: 1em;

  .total_transactions {
    height: 25vh;
    background-color: var(--deep-purple);

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: var(--primary-light-purple);
      position: absolute;
      bottom: 8%;
      right: 5%;
    }
  }

  .recent_transactions {
    height: 25vh;
    position: relative;
    background: var(--secondary-yellow);

    .trans_titles {
      color: var(--deep-purple);
    }
  }

  .current_projects {
    grid-column: 1/3;
    height: 35vh;
  }
}

.detail_card {
  border-radius: var(--border-radius);
  padding: 1em;
  border: solid 1px var(--primary-light-purple);
  box-shadow: var(--card-standard-shadow);
  position: relative;

  &:hover {
    box-shadow: var(--card-shadow-hover);
  }
}

.top_title {
  position: absolute;
  bottom: 2%;

  h5 {
    color: var(--primary-white);
  }
}

.charts_total {
  width: 100%;
  height: 50%;
  border-radius: var(--border-radius-10);
}

.trans_titles {
  width: 90%;
  @include flexi(space-between, center, row, 5px);
  position: relative;
  color: var(--primary-white);

  .personal_icon {
    vertical-align: top;
    position: absolute;
    top: 1px;
  }

  p {
    vertical-align: middle;
    font-size: 12px;
    margin-left: 25px;
  }
}

.transactions {
  ul {
    display: grid;
    gap: 1em;
    padding: 0;
    li {
      list-style: none;
      font-size: 12px;
      border: solid 1px var(--primary-yellow);
      background: var(--primary-yellow);
      width: 100%;
      border-radius: var(--border-radius-10);
      padding: 0 7px;
      display: flex;
      span {
        color: var(--deep-purple);
      }
    }
  }
}

.trans_icons {
  color: var(--primary-white);
  vertical-align: bottom;
  margin-top: 3px;
}

.trans_amount {
  padding-left: 1em;
}

.stamp {
  margin-left: 20px;
}
