@import "./components/Depenses/Depenses.scss";
@import "./components/construction/construction.scss";
@import "./components/Profile/Profile.scss";
@import "./components/Allowance/Allowance.scss";
@import "./components/construction/construction.scss";
@import "./components/Mensuels/AllowancePage.scss";
@import "./components/Allowance/summary/Total.scss";
@import "./util.scss";
@import "./components/Allowance/TrendingGraph/TrendingG.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap");
@import "./components/Home/Home.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

html {
  background: var(--background-maincolor);
}

body {
  font-family: "Helvetica";
}
